
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>AllStore - MultiConcept eCommerce Template</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="ScriptsUser/css/font-awesome.min.css">
    <link rel="stylesheet" href="ScriptsUser/css/bootstrap.min.css">
    <link rel="stylesheet" href="ScriptsUser/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="ScriptsUser/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="ScriptsUser/css/jquery.bxslider.css">
    <link rel="stylesheet" href="ScriptsUser/css/jquery.fancybox.css">
    <link rel="stylesheet" href="ScriptsUser/css/flexslider.css">
    <link rel="stylesheet" href="ScriptsUser/css/swiper.css">
    <link rel="stylesheet" href="ScriptsUser/css/swiper.css">
    <link rel="stylesheet" href="ScriptsUser/css/style.css">
    <link rel="stylesheet" href="ScriptsUser/css/media.css">

</head>
<body>
    <main>
        <section class="container stylization maincont">


            <ul class="b-crumbs">
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <span>Registration / Login</span>
                </li>
            </ul>
            <h1 class="main-ttl"><span>Registration / Login</span></h1>
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Login</h2>
                    <form method="post" class="login">
                        <p>
                            <label for="username">E-mail <span class="required">*</span></label><input type="text" id="username">
                        </p>
                        <p>
                            <label for="password">Password <span class="required">*</span></label><input type="password" id="password">
                        </p>
                        <p class="auth-submit">
                            <input type="submit" value="Login">
                            <input type="checkbox" id="rememberme" value="forever">
                            <label for="rememberme">Remember me</label>
                        </p>
                        <p class="auth-lost_password">
                            <a href="#">Lost your password?</a>
                        </p>
                    </form>
                </div>
                <div class="auth-col">
                    <h2>Register</h2>
                    <form method="post" class="register">
                        <p>
                            <label for="reg_email">Email <span class="required">*</span></label><input type="email" id="reg_email">
                        </p>
                        <p>
                            <label for="reg_password">Password <span class="required">*</span></label><input type="password" id="reg_password">
                        </p>
                        <p class="auth-submit">
                            <input type="submit" value="Register">
                        </p>
                    </form>
                </div>
            </div>



        </section>
    </main>
   
    <!-- Footer - end -->
    <!-- jQuery plugins/scripts - start -->
    <script src="ScriptsUser/js/jquery-1.11.2.min.js"></script>
    <script src="ScriptsUser/js/jquery.bxslider.min.js"></script>
    <script src="ScriptsUser/js/fancybox/fancybox.js"></script>
    <script src="ScriptsUser/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="ScriptsUser/js/jquery.flexslider-min.js"></script>
    <script src="ScriptsUser/js/swiper.jquery.min.js"></script>
    <script src="ScriptsUser/js/jquery.waypoints.min.js"></script>
    <script src="ScriptsUser/js/progressbar.min.js"></script>
    <script src="ScriptsUser/js/ion.rangeSlider.min.js"></script>
    <script src="ScriptsUser/js/chosen.jquery.min.js"></script>
    <script src="ScriptsUser/js/jQuery.Brazzers-Carousel.js"></script>
    <script src="ScriptsUser/js/plugins.js"></script>
    <script src="ScriptsUser/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
    <script src="js/gmap.js"></script>
    <!-- jQuery plugins/scripts - end -->

</body>
</html>